body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.hero {
    text-align: center;
    padding: 30px;
}


.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}


#search {

    width: 300px;
    padding: 12px;

    border-radius: 10px;
    border: 2px solid #ffd700;

    background: black;
    color: white;

    font-size: 16px;
    outline: none;

}


#search::placeholder {
    color: gray;
}



.games-container {

    display: grid;

    grid-template-columns: repeat(auto-fill, 200px);

    justify-content: center;

    gap: 25px;

    padding: 40px;

}



.game-card {

    width: 200px;
    height: 200px;

    overflow: hidden;

    border-radius: 15px;

    display: block;

    background: black;

    border: 2px solid transparent;

    transition: 
        transform 0.2s ease,
        border 0.2s ease;

}



.game-card:hover {

    transform: scale(1.06);

    border: 2px solid #ffd700;

}



.game-card img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    display: block;

}



@media (max-width: 600px) {

    .games-container {

        grid-template-columns: repeat(auto-fill, 150px);

        gap: 15px;

    }


    .game-card {

        width: 150px;

        height: 150px;

    }

}
